.tile {
  align-items: center;
  justify-content: center;
}

.subject {
  padding: 16px;
  border: 2px solid;
  align-items: center;
  justify-content: center;
  width: 224px;
}

.subject-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 500;
}
