.setting-screen-navbar {
    align-items: center;
    margin: 0 24px;
  }

.settings-title {
  margin-left: 100px;
}

.option-align {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 0 24px;
}

