.setting-screen-navbar {
    align-items: center;
    margin: 0 24px;
  }

.settings-title {
  margin-left: 100px;
}

.setting-text-align {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 16px
}

