.add-screen-navbar {
  align-items: center;
  margin: 0 24px;
}

.add-btn-spacing {
  padding: 8px 72px;
  margin: 8px 52px 4px;
}

.add-form {
  text-align: center;
  margin-top: 32px;
  gap: 0.5rem;
}
