.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.alert {
  position: absolute;
  height: fit-content;
  width: 320px;
  top: 218px;
  left: 18px;
  margin: auto;

  background-color: white;
  padding: 24px 32px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  flex-direction: column;
}

.dialog-buttons {
  width: 120px;
  height: 32px;
}

.mt-16 {
  margin-top: 16px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
