.home-screen-navbar {
  justify-content: space-between;
  margin: 0 24px;
}

.tiles {
  margin-top: 24px;
  gap: 1.5rem;
}

.weekday {
  margin: 32px 62px 0px;
  align-items: center;
  justify-content: space-between;
}
