/* ------------------------- */
/*  Custom Properties        */
/* ------------------------- */

:root {
/* colors */
/* hsl(var(--clr-name)) */
--clr-dark: 345 6% 13%;
--clr-light: 0 0% 98%;
--clr-white: 0 0% 100%;
--clr-orange: 21 100% 50%;
--clr-gray: 0 0% 28%;
--clr-red: 3 73% 59%;

/* background: var(--gradient-orange); 
   se usa webkit para integrarlo en otros elementos html
 */
--gradient-orange: linear-gradient(180deg, #FF8645 0%, #FF5900 100%);
}


/* ------------------------- */
/*  Reset                    */
/* ------------------------- */

/* Extension size */
html {
  width: 375px;
  height: 584px;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Makes forms elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*  Utility classes          */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* colors */

.bg-light { background-color: hsl(var(--clr-light));}
.text-dark { color: hsl(var(--clr-dark));}

.text-gradient-orange {
  background: var(--gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
