/* ------------------------- */
/*  Custom Properties        */
/* ------------------------- */

:root {
  /* colors */
  /* hsl(var(--clr-name)) */
  --clr-dark: 345 6% 13%;
  --clr-light: 0 0% 98%;
  --clr-white: 0 0% 100%;
  --clr-orange: 21 100% 50%;
  --clr-gray: 0 0% 28%;
  --clr-red: 0 100% 50%;
  --clr-ibiza: 351 90% 57%;

  /*
  background: var(--gradient-orange); 
   se usa webkit para integrarlo en otros elementos html
  */
  --gradient-orange: linear-gradient(180deg, #ff8645 0%, #ff5900 100%);
  --gradient-ibiza: linear-gradient(180deg, #ee0979 0%, #ff6a00 100%);

  /* font-sizes */
  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;

  /* font families */
  --ff-poppins: "Poppins", sans-serif;

  /* misc */
  --corner-radius: 6px;
}

/* ------------------------- */
/*  Reset                    */
/* ------------------------- */

/* Extension size */
html {
  width: 360px;
  height: 584px;
  background-color: black;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Set up the body */
body {
  padding-top: 8px;
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-light));
  line-height: 1.5;
  min-height: 100%;
}

/* Makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Makes forms elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove button border */
button,
button:hover,
button:active,
button:focus {
  border: none;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------- */
/*  Utility classes          */
/* ------------------------- */

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.column {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.center {
  margin: auto;
}

/* colors */

/* backgrounds */

.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}
.bg-gray {
  background-color: hsl(var(--clr-gray));
}

/* text */

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-gradient-orange {
  background: var(--gradient-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-ibiza {
  background: var(--gradient-ibiza);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-red {
  color: hsl(var(--clr-red));
}

.text-gray {
  color: hsl(var(--clr-gray));
}

.text-light {
  color: hsl(var(--clr-light));
}

.text-orange {
  color: hsl(var(--clr-orange));
}

.text-ibiza {
  color: hsl(var(--clr-ibiza));
}

.text-center {
  text-align: center;
}

/* border */

.border-orange {
  border-color: var(--clr-orange);
}

.border-dark {
  border-color: var(--clr-dark);
}

.border-ibiza {
  border-color: var(--clr-ibiza);
}

.rounded-border {
  border-radius: var(--corner-radius);
}

.no-border {
  border: none;
}

/* typography */

.ff-poppins {
  font-family: var(--ff-poppins);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

/* buttons */

.btn-orange-bg {
  background: var(--gradient-orange);
}

.btn-ibiza-bg {
  background: var(--gradient-ibiza);
}

.btn-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* titles and subtitles */

.title {
  font-size: var(--fs-700);
  text-align: center;
  font-weight: 500;
}

.subtitle {
  font-size: var(--fs-400);
  text-align: center;
}

.navbar-title {
  margin-left: 64px;
}

/* hr */

hr {
  margin: 4px 0;
  border: none;
  border-top: 1.5px solid hsl(var(--clr-gray));
}

/* pointer */

.pointer {
  cursor: pointer;
}

/* animations */

.hover-animation:hover {
  transform: scale(1.02);
}

.hover-animation-large:hover {
  transform: scale(1.3);
}
